<div class="placeholder image"></div>

<div class="person">

  <h2 class="name">{{person.name}}</h2>

  <div class="attributes">

    <app-property-display description='Birth Year' [value]="person.birth_year | titlecase"></app-property-display>
    <app-property-display description='Eye Colour' [value]="person.eye_color | titlecase"></app-property-display>
    <app-property-display description='Gender' [value]="person.gender | titlecase"></app-property-display>
    <app-property-display description='Hair Colour' [value]="person.hair_color | titlecase"></app-property-display>
    <app-property-display description='Height' [value]="person.height"></app-property-display>

  </div>
</div>
