@use "colours";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.key {
  color: colours.$text-sub;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  color: colours.$text-main;
  font-size: 1.2em;
}
