@use 'colours';

:host {
  display: flex;
  padding: 0 7em;
  background-color: colours.$theme-dark;
  color: white;
}

.navigation {
  display: flex;
  gap: 4em;

  &__button {
    cursor: pointer;
    padding: 1em 2em;

    &:hover {
      background-color: colours.$theme-accent;
    }
  }


}
