@use 'mixins';

:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  column-gap: 4em;
  row-gap: 1em;
}

.card {
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  @include mixins.elevation-1;

  &:hover {
    @include mixins.elevation-2;
    transform: translateY(-0.5em);
  }
}
