<div class="placeholder"></div>
<h2 class="title">{{planet.name}}</h2>

<div class="information">
  <div class="entry">
    <p class="entry__value">{{planet.residents?.length}}</p>
    <p class="entry__key">Residents</p>
  </div>

  <div class="entry">
    <p class="entry__value" [title]="planet.population">{{planet.population | population}}</p>
    <div class="entry__key">
      <p>Population (m)</p>
    </div>
  </div>

  <div class="entry">
    <p class="entry__value">{{planet.orbital_period | titlecase}}</p>
    <div class="entry__key">
      <p>Orbital Period</p>
    </div>
  </div>
</div>
